<div>
<style>
  body{
    background-image: url(https://media.istockphoto.com/vectors/abstract-white-background-vector-id1143662580?b=1&k=6&m=1143662580&s=612x612&w=0&h=nHS1tx7rQOvyFnYh9Iwfd39Q2wctjNPNK6YjYhBEykY=)
  }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <center>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
<h2><a class="btn" target=_blank href="/configure">Configure Bot</button> </a></h2>
<br>
<br>
<h2><a class="btn" target=_blank href="">Go to Chatwoot</button> </a></h2>
<br>
<br>
<br>
<br>
</center>
</div>
<style>
  .wa {
    bottom: 1%;
    position: fixed;
    margin: 1em;
    left: 1%;
    z-index: 888;
    height: 70px;
    width:  70px;
  }

</style>

  
</div>
    <script>
      (function(d,t) {
        var BASE_URL="";
        var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=BASE_URL+"/packs/js/sdk.js";
        s.parentNode.insertBefore(g,s);
        g.onload=function(){
          window.chatwootSDK.run({
            websiteToken: 'breft7gvsXVXo2XQUNzv1ZcF',
            baseUrl: BASE_URL
          })
        }
      })(document,"script");
    </script>